[submodule "kbk-administrator"]
	path = kbk-administrator
	url = git@github.com:ZQCard/kbk-administrator.git
[submodule "kbk-log"]
	path = kbk-log
	url = git@github.com:ZQCard/kbk-log.git
[submodule "kbk-bff-admin"]
	path = kbk-bff-admin
	url = git@github.com:ZQCard/kbk-bff-admin.git
[submodule "kbk-authorization"]
	path = kbk-authorization
	url = git@github.com:ZQCard/kbk-authorization.git
[submodule "kbk-layout"]
	path = kbk-layout
	url = git@github.com:ZQCard/kbk-layout.git
[submodule "kbk-frontend"]
	path = kbk-frontend
	url = git@github.com:ZQCard/kbk-frontend.git
[submodule "kbk-oss"]
	path = kbk-oss
	url = git@github.com:ZQCard/kbk-oss.git	